@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  @apply text-gray-900;
  @apply dark:bg-black;
  @apply dark:text-slate-300;
}

i {
  font-style: normal;
}

.node .node {
  @apply pl-4;
}

.field {
  @apply p-1;
  @apply bg-transparent;
  @apply rounded;
  @apply text-sm;
  @apply focus:outline-none;
  @apply focus:ring-2;

  @apply focus:ring-black;
  @apply dark:focus:ring-white;
}

.btn {
  @apply py-0;
  @apply px-1;

  @apply border;
  @apply bg-transparent;
  @apply text-slate-600;
  @apply dark:border-slate-800;
  @apply dark:text-slate-500;
  @apply dark:hover:text-white;
  @apply dark:focus:text-white;
}

.input {
  @apply flex-1;
}

.textarea {
  @apply block;
  @apply w-full;
  @apply p-2;
  @apply mb-1;

  @apply border;
  @apply dark:border-slate-600;
}

.tooltip {
  @apply relative;
}

.tooltip > .tooltip__bubble {
  @apply hidden;
  @apply absolute;
  @apply rounded-sm;
  @apply -top-7;
  @apply p-1;
  @apply bg-green-600;
  @apply text-white;
  @apply text-xs;
  @apply whitespace-nowrap;
}

.tooltip--left > .tooltip__bubble {
  @apply right-0;
}

.tooltip--right > .tooltip__bubble {
  @apply left-0;
}

.tooltip:hover > .tooltip__bubble {
  @apply block;
}

/*  */
.grow-wrap {
  display: grid;
}
.grow-wrap::after {
  content: attr(data-replicated-value) ' ';
  white-space: pre-wrap;
  visibility: hidden;
}
.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  grid-area: 1 / 1 / 2 / 2;
}
