name: release

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write # Required for OIDC

jobs:
  publish-npm-base:
    name: Publish npm package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Publish
        shell: bash
        run: npm publish --access public
